@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box;}

/* grid는 flex보다 나중에 나왔음
flex는 '한쪽방향' 배치 구현
grid는 '양방향' 배치 구현
2가지의 요소를 다 알아두면 알맞는 곳에 사용할 수 있음
전체구성은 grid로 하고 부분구성은 flex로 하는 경우가 많음. */

.container{border: 2px solid #000;
    background-color: rgb(181, 155, 223);
    padding: 10px;
    display: grid;
   /* grid와 flex는 자식요소가 inline요소일지라도 block요소로 바꿔버림  */
   grid-template-columns: 100px 300px 200px;
   grid-template-columns: 300px 1fr 300px;
   /* fr:fraction  --> 비율 */
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: repeat(5, 1fr); /* //1fr을 5번 반복한다. */
   grid-template-columns: repeat(3, 1fr 2fr 1fr);
   grid-template-columns: 100px 1fr 200px;
   grid-template-rows:200px 200px; 
   /* 설정한 1,2줄은 높이가 200px로 적용되고 나머지는 auto가 된다. */
   grid-template-rows: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr) 300px 300px;
   height: 80vh;
}

.item{border: 2px solid #000;
    background-color: rgb(246, 95, 117);
     padding: 10px;
}