@charset "UTF-8";
*{margin: 0; padding: 0;}


.item{border: 2px solid #000;
    background-color: rgb(232, 186, 193);
     padding: 10px;
}
/* auto-fill, auto-fit */

.container{
    border: 2px solid #000;
    background-color: rgb(183, 152, 223);
    padding: 10px;
    display:grid;
    grid-template-columns: repeat(3,20%);
    grid-template-columns: repeat(3,minmax(20%,auto));
    grid-template-columns: repeat(auto-fill,minmax(20%,auto));
    grid-template-columns: repeat(auto-fit,minmax(20%,auto));
}