@charset "UTF-8";
*{margin: 0; padding: 0;}

.item{border: 2px solid #000;
    background-color: rgb(255, 191, 119);
     padding: 10px;
}

/* gap:그리드 셀 사이의 간결을 설정함 */

.container{
    border: 2px solid #000;
    background-color: rgb(55, 185, 255);
    padding: 10px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,minmax(200px,auto));
    height: 80vh;
    column-gap: 20px;
    row-gap: 20px;
    gap:20px;
}