@charset "UTF-8";

.container {
    border: 2px solid #000;
    background-color: rgb(0, 255, 128);
    padding: 10px;
}

.item {
    border: 2px solid #000;
    background-color: rgb(231, 61, 126);
    padding: 10px;
}

/* align-content - container의 높이보다 item의 총 높이가 작다면 item 통째로의 정렬*/

.container{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3,1fr);
    height: 120vh;
    align-content: center;
    align-content: start;
    align-content: end;
    
}
.item{}