@charset "UTF-8";

.container {
    border: 2px solid #000;
    background-color: rgb(205, 141, 235);
    padding: 10px;
}

.item {
    border: 2px solid #000;
    background-color: rgb(61, 231, 61);
    padding: 10px;
}

/* place-content
align-content와 justify-content를 같이 쓸 수 있는 단축 속성
align-content, justify-content 순서로 작성, 만일 하나만 적으면 두 속성 모두에게 적용
*/

.container{
    display: grid;
    height: 120vh;
    place-content: space-between center;
    
    
}
